.App{
  /* background-image: url("https://miro.medium.com/max/1400/1*a4tiXdRcOxYEQn-SyV6Jcw.png"); */
  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/33/11/background-blue-abstract-website-pattern-vector-3523311.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}